body {
    width: 100%;
    height: 100%;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(240, 251, 255, 0.2);
    line-height: 30px;
    color: #333;
    box-sizing: border-box;
}

body > *:not(footer) {
    padding-left: 2rem;
    padding-right: 2rem;
}

img {
        width: 266px;
        height: 302px;
    }

header {
    padding-top: 0.5rem;
    text-align: center;
    position: sticky;
    top: 0;
    height: 5rem;
    background: rgba(240, 251, 255, 0);
    transition: background-color 0.3s ease;
}

header.scrolled {
    background: rgba(240, 251, 255, 1);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px
}

a {
    text-decoration: none;
}

.nav-link{
    color: #000;
    transition: color 0.3s ease; /* Smooth color change */
}

.nav-link:hover, .nav-link:active {
    color: #FF5C95;
}

.contact-link a{
    color: white;
}

.contact-link {
    border-radius: 16px;
}

main {
    padding: 2rem;
    text-align: center;
}


#hero {
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    with: 100%
}

#hero > * {
    max-width: 850px;
}

p.hero-subtitle{
    font-size: 20px;
}

h1.hero-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.explore-classes {
    border-radius: 40px;
}



.link-btn {
    padding: 10px;
    padding-left: 18px; 
    padding-right: 18px; 
    background-color: #FF5C95;
    color: white;
}

footer {
    background-color: #2F6073;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
